<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="email" value="halleyna0000@gmail.com" />
  <parameter name="pwd" value="123456789" />
    <classes>
      <class name="tests.RegistrationSuccess" />
      <class name="tests.LoginSuccess" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
